*{margin:0;padding:0;}
.loginboard{margin:auto;
  border: 1px solid grey; margin-top: 3%;
    width:80vh; height:60vh; border-radius: 10%;
    box-shadow: 5px 5px 10px #888888; overflow: hidden;}

.loghead{width:100%; height:8vh;margin-top: 4%; background-color: brown;
    text-align: center;font-size: 40px;color:white;}
.loghead a:hover{color:white;}
a{text-decoration: none;color:black;}
.logmid{width:70%; height:25vh;
    margin: auto;margin-top: 5%;} 
.everydiv{width:100%;height:5vh;
     display: flex;justify-content: center;align-items: center;
    margin-top: 25px;}
label{width:40%;}
#textbox{height:90%;width:90%;}

.submitlogbtn{width:100%; height:45px ;transition: 1s all ease; 
        margin-top: 25px; font-size: 30px;border:1px solid grey;
    background-color:rgb(201, 193, 193);text-align: center;}
.submitlogbtn:hover{background-color: brown;color: white;}