*{margin:0;padding:0;}
.signboard{margin:auto;
  border: 1px solid grey; margin-top: 3%;
    width:80vh; height:75vh;
    border-radius: 10%;
    box-shadow: 5px 5px 10px #888888; overflow: hidden;}

.signhead{width:100%; height:7.5vh;margin-top: 4%; background-color: brown;
    text-align: center;font-size: 30px;}
.signbtn{width:100%; height:7.5vh;margin-top: 4%; background-color:rgb(201, 193, 193);
    text-align: center;font-size: 30px;transition: 1s all ease;}
.signbtn:hover{color:white;background-color: brown;}
.signbtn:hover #signsubmitbtn{color:white;}

.signmid{width:70%; height:61vh;
    margin: auto;margin-top: 5%;}
.everydiv1{width:100%;height:5vh;
        text-align: center; display: flex;justify-content: center;align-items: center;
        margin-top: 10px;}
.separatetable{width:90%; height:100%; display: flex;justify-content: center;
    align-items: center;}

label{width:40%;}
#textbox{height:90%;width:90%;}

#submitbtn{width:100%; height:100%;transition: .5s all ease; border:0;font-size: 30px;}
#submitbtn:hover{background-color: brown;color: white;}
#signsubmitbtn{width:100% ;height:100%; background: transparent; border:0;font-size: 30px;
    transition:1s all ease;}